<% title "Contents" %>

<table>
  <tr>
    <th>Name</th>
    <th>Contenttype</th>
    <th>Discs</th>
  </tr>
  <% for content in @contents %>
    <tr>
      <td><%=h content.name %></td>
      <td><%=h content.contenttype.name %></td>
      <td><%=h content.disc_ids.empty? ? 'None' : content.discs.collect{|d| d.number}.join(', ') %></td>
      <%= common_links :section => :list, :object => content %>
    </tr>
  <% end %>
</table>
<%= common_links :section => :main, :klass => Content %>
