<% title "Content" %>

<p>
  <strong>Name:</strong>
  <%=h @content.name %>
</p>
<p>
  <strong>Contenttype:</strong>
  <%=h @content.contenttype_id.nil? ? 'N/A' : @content.contenttype.name %>
</p>
<p>
  <strong>Discs:</strong>
  <% if @content.disc_ids.empty? %>
    'N/A'
  <% else %>
    <ul>
      <% @content.discs.each do |disc| %>
        <li><%=h [disc.container.name, disc.number, disc.label].join(' - ')%></li>
      <% end %>
    </ul>
  <% end %>
</p>
<p>
  <strong>Gamegenere:</strong>
  <%=h @content.gamegenere_id.nil? ? 'N/A' : @content.gamegenere.name %>
</p>
<p>
  <strong>Contentcategory:</strong>
  <%=h @content.contentcategory_id.nil? ? 'N/A' : @content.contentcategory.name %>
</p>
<p>
  <strong>Cracked:</strong>
  <%=h @content.cracked %>
</p>
<p>
  <strong>Original:</strong>
  <%=h @content.original %>
</p>
<p>
  <strong>Moviegenere:</strong>
  <%=h @content.moviegenere_id.nil? ? 'N/A' : @content.moviegenere.name %>
</p>
<p>
  <strong>Moviequality:</strong>
  <%=h @content.moviequality.nil? ? 'N/A' : @content.moviequality %>
</p>
<p>
  <strong>Movieyear:</strong>
  <%=h @content.movieyear.nil? ? 'N/A' : @content.movieyear %>
</p>
<p>
  <strong>Language:</strong>
  <%=h @content.language.nil? ? 'N/A' : @content.language %>
</p>
<p>
  <strong>Subtitules:</strong>
  <%=h @content.subtitules.nil? ? 'N/A' : @content.subtitules %>
</p>
<p>
  <strong>Comment:</strong><br/>
  <pre><%=h @content.comment %></pre>
</p>

<%= common_links :section => :edit_discs, :object => @content %>
