<% title "Content" %>

<p>
  <strong>Name:</strong>
  <%=h @content.name %>
</p>
<p>
  <strong>Contenttype:</strong>
  <%=h @content.contenttype_id.nil? ? 'N/A' : @content.contenttype.name %>
</p>
<p>
  <strong>Disc:</strong>
  <% if @content.disc_ids.empty? %>
    'N/A'
  <% else %>
    <ul>
      <% @content.discs.each do |disc| %>
        <li><%=h [disc.container.name, disc.number, disc.label].join(' - ')%></li>
      <% end %>
    </ul>
  <% end %>
</p>
<p>
  <strong>Gamegenere:</strong>
  <%=h @content.gamegenere_id.nil? ? 'N/A' : @content.gamegenere.name %>
</p>
<p>
  <strong>Contentcategory:</strong>
  <%=h @content.contentcategory_id.nil? ? 'N/A' : @content.contentcategory.name %>
</p>
<p>
  <strong>Cracked:</strong>
  <%=h @content.cracked %>
</p>
<p>
  <strong>Original:</strong>
  <%=h @content.original %>
</p>
<p>
  <strong>Moviegenere:</strong>
  <%=h @content.moviegenere_id.nil? ? 'N/A' : @content.moviegenere.name %>
</p>
<p>
  <strong>Moviequality:</strong>
  <%=h @content.moviequality %>
</p>
<p>
  <strong>Movieyear:</strong>
  <%=h @content.movieyear %>
</p>
<p>
  <strong>Subtitules:</strong>
  <%=h @content.subtitules %>
</p>
<p>
  <strong>Comment:</strong>
  <%=h @content.comment %>
</p>

<p>
  <%= link_to "Edit", edit_content_path(@content) %> |
  <%= link_to "Destroy", @content, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contents_path %>
</p>
