<h1>Listing mediatypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Shortname</th>
    <th>Description</th>
  </tr>

<% @mediatypes.each do |mediatype| %>
  <tr>
    <td><%=h mediatype.name %></td>
    <td><%=h mediatype.shortname %></td>
    <td><%=h mediatype.description %></td>
    <td><%= link_to 'Show', mediatype %></td>
    <td><%= link_to 'Edit', edit_mediatype_path(mediatype) %></td>
    <td><%= link_to 'Destroy', mediatype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mediatype', new_mediatype_path %>