<% title "Containers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for container in @containers %>
    <tr>
      <td><%=h container.name %></td>
      <td><%=h container.description %></td>
      <td><%= link_to "Show", container %></td>
      <td><%= link_to "Edit", edit_container_path(container) %></td>
      <td><%= link_to "Destroy", container, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Container", new_container_path %></p>
<p><%= link_to "Home", root_path %></p>