<% title "Discs" %>

<table>
  <tr>
    <th>Number</th>
    <th>Label</th>
    <th>Disctype</th>
    <th>Given</th>
    <th>Container</th>
    <th>Location</th>
  </tr>
  <% for disc in @discs %>
    <tr>
      <td><%=h disc.number %></td>
      <td><%=h disc.label.size > 30 ? disc.label[0..25] + '[...]' : disc.label %></td>
      <td><%=h disc.disctype.name %></td>
      <td><%=h disc.given %></td>
      <td><%=h disc.container.name %></td>
      <td><%=h disc.location %></td>
      <%= common_links :list, disc %>
    </tr>
  <% end %>
</table>
<br />
<%= will_paginate @discs %>
<%= common_links :main %>
