<% title "Discs" %>

<table>
  <tr>
    <th>Number</th>
    <th>Label</th>
    <th>Disctype</th>
    <th>Given</th>
    <th>Container</th>
    <th>Location</th>
  </tr>
  <% for disc in @discs %>
    <tr>
      <td><%=h disc.number %></td>
      <td><%=h disc.label %></td>
      <td><%=h disc.disctype.name %></td>
      <td><%=h disc.given %></td>
      <td><%=h disc.container.name %></td>
      <td><%=h disc.location %></td>
      <td><%= link_to "Show", disc %></td>
      <td><%= link_to "Edit", edit_disc_path(disc) %></td>
      <td><%= link_to "Destroy", disc, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Disc", new_disc_path %></p>
<p><%= link_to "Home", root_path %></p>