<% title "Disc" %>

<p>
  <strong>Number:</strong>
  <%=h @disc.number %>
</p>
<p>
  <strong>Label:</strong>
  <%=h @disc.label %>
</p>
<p>
  <strong>Disktype:</strong>
  <%=h @disc.disctype.name %>
</p>
<p>
  <strong>Given:</strong>
  <%=h @disc.given %>
</p>
<p>
  <strong>Given To:</strong>
  <%=h @disc.given_to %>
</p>
<p>
  <strong>Gived On:</strong>
  <%=h @disc.gived_on %>
</p>
<p>
  <strong>Container:</strong>
  <%=h @disc.container.name %>
</p>
<p>
  <strong>Comment:</strong><br/>
  <pre><%=h @disc.comment %></pre>
</p>

<%= common_links :section => :show, :object => @disc %>
