<h1>Listing contenttypes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @contenttypes.each do |contenttype| %>
  <tr>
    <td><%=h contenttype.name %></td>
    <td><%= link_to 'Show', contenttype %></td>
    <td><%= link_to 'Edit', edit_contenttype_path(contenttype) %></td>
    <td><%= link_to 'Destroy', contenttype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contenttype', new_contenttype_path %>